<html>
    
    <head>
      
    </head>
    <body>
        <mat-grid-list  style='width: 1800px;' cols="5" rowHeight="300px">
            <mat-grid-tile rowspan='3' >
                   <pre>
                <h1>歡迎回來</h1>

                   <h2><span>使用者: </span>{{user.username}}</h2>
                   
                   <h2><span>email: </span>{{user.email}}</h2>

                    <h2><span>手機號碼:</span>{{user.phonenumber}}</h2>

                
 剩餘下載數: 113 <button mat-raised-button color="accent"><mat-icon>live_tv</mat-icon> 觀看廣告</button>

                <button mat-raised-button color="primary"><mat-icon>create</mat-icon> 更改資料</button>

                <button mat-raised-button ><mat-icon>cloud_upload</mat-icon> 上傳元件</button>
                <button mat-icon-button color="accent" matTooltip="關注的元件"><mat-icon>favorite</mat-icon></button> <button mat-icon-button color='warn' matTooltip='關注的廠商'><mat-icon>grade</mat-icon></button>
            </pre>
            </mat-grid-tile>
            <mat-grid-tile colspan='4'>
              <h3>下載紀錄</h3>
              &nbsp;&nbsp;
                <button mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon></button>
                &nbsp;
                <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                      
                            <mat-card-header>
                              
                              <mat-card-title>1000 Series Top of Ground Dock Lift</mat-card-title>
                              <mat-card-subtitle>機械</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/bb8dceed-e2c0-48e1-b86c-1efbf1d6a8ff/50123/default?ver=20170110130348" style="width:115px;height:115px;">
                                            <mat-card-actions>
                                    <button mat-icon-button >
                                            <mat-icon>cloud_download</mat-icon>
                                          </button>
                              <button mat-button>DOWNLOAD</button>
                            </mat-card-actions>
                            
                          </mat-card>

                          &nbsp;&nbsp;

                          <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                      
                                <mat-card-header>
                                  
                                  <mat-card-title>LANTA Bidet mixer with pop-up waste</mat-card-title>
                                  <mat-card-subtitle>衛生</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/71a1b1bc-9542-484c-adde-5a9e27c402a7/160591/default?ver=20180727092806" style="width:115px;height:115px;">
                                <mat-card-actions>
                                        <button mat-icon-button >
                                                <mat-icon>cloud_download</mat-icon>
                                              </button>
                                  <button mat-button>DOWNLOAD</button>
                                </mat-card-actions>
                                
                              </mat-card>

                              &nbsp;&nbsp;

                              <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                      
                                    <mat-card-header>
                                      
                                      <mat-card-title>Stainless Steel Stove Floor</mat-card-title>
                                      <mat-card-subtitle>廚房</mat-card-subtitle>
                                    </mat-card-header>
                                    <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/15a1cb1e-0811-4851-9ee8-320d48523a23/256924/default?ver=20190904134544" style="width:115px;height:115px;">
                                       <mat-card-actions>
                                            <button mat-icon-button >
                                                    <mat-icon>cloud_download</mat-icon>
                                                  </button>
                                      <button mat-button>DOWNLOAD</button>
                                    </mat-card-actions>
                                    
                                  </mat-card>

                                  &nbsp;&nbsp;

                                  <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                      
                                        <mat-card-header>
                                          
                                          <mat-card-title>Dekton Glacier - Cosentino</mat-card-title>
                                          <mat-card-subtitle>地板</mat-card-subtitle>
                                        </mat-card-header>
                                        <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/746d9c06-2233-4123-a31c-7760d123c06b/276123/default?ver=20190924080124" style="width:115px;height:115px;">
                                                                    <mat-card-actions>
                                                <button mat-icon-button >
                                                        <mat-icon>cloud_download</mat-icon>
                                                      </button>
                                          <button mat-button>DOWNLOAD</button>
                                        </mat-card-actions>
                                        
                                      </mat-card>

                                      &nbsp;&nbsp;

                                      <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                      
                                            <mat-card-header>
                                              
                                              <mat-card-title>RECEPTION DESK LINEA</mat-card-title>
                                              <mat-card-subtitle>家具</mat-card-subtitle>
                                            </mat-card-header>
                                            <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/72929220-17ac-44c4-bde3-2dd6b51ad454/206360/default?ver=20181220081337" style="width:115px;height:115px;">
                                                                            <mat-card-actions>
                                                    <button mat-icon-button >
                                                            <mat-icon>cloud_download</mat-icon>
                                                          </button>
                                              <button mat-button>DOWNLOAD</button>
                                            </mat-card-actions>
                                            
                                          </mat-card>

                                          &nbsp;

                                      <button mat-raised-button><mat-icon>keyboard_arrow_right</mat-icon></button>
            </mat-grid-tile>
            <mat-grid-tile colspan='4'><h3>上傳紀錄</h3>
              &nbsp;&nbsp;
              <button mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon></button>
              &nbsp;
              <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                          <mat-card-header>
                            
                            <mat-card-title>Agilia Cimentaciones</mat-card-title>
                            <mat-card-subtitle>建築材料</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/e12d3e7c-6c66-4fae-99c3-cd85ee9f9a09/277920/default?ver=20190925080241" style="width:115px;height:115px;">
            
                          <mat-card-actions>
                                  <button mat-icon-button >
                                          <mat-icon>cloud_download</mat-icon>
                                        </button>
                            <button mat-button>DOWNLOAD</button>
                          </mat-card-actions>
                          
                        </mat-card>

                        &nbsp;&nbsp;

                        <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                              <mat-card-header>
                                
                                <mat-card-title>Custom shaped green facade wall</mat-card-title>
                                <mat-card-subtitle>景觀</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/72ee1667-3a79-4fa8-9244-13491bed997c/47564/default?ver=20170110110631" style="width:115px;height:115px;">
                   
                              <mat-card-actions>
                                      <button mat-icon-button >
                                              <mat-icon>cloud_download</mat-icon>
                                            </button>
                                <button mat-button>DOWNLOAD</button>
                              </mat-card-actions>
                              
                            </mat-card>

                            &nbsp;&nbsp;

                            <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                                  <mat-card-header>
                                    
                                    <mat-card-title>Runline Recessed Luminaire Trimless</mat-card-title>
                                    <mat-card-subtitle>照明</mat-card-subtitle>
                                  </mat-card-header>
                                  <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/7360ae09-572e-4385-b134-0d1d47b2e860/287548/default?ver=20191113072034" style="width:115px;height:115px;">
                      
                                  <mat-card-actions>
                                          <button mat-icon-button >
                                                  <mat-icon>cloud_download</mat-icon>
                                                </button>
                                    <button mat-button>DOWNLOAD</button>
                                  </mat-card-actions>
                                  
                                </mat-card>

                                &nbsp;&nbsp;

                                <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                                      <mat-card-header>
                                        
                                        <mat-card-title>Model 7900 PURGEnVENT</mat-card-title>
                                        <mat-card-subtitle>消防</mat-card-subtitle>
                                      </mat-card-header>
                                      <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/4feedb9b-aca7-462b-814b-c4870cd63caa/228345/default?ver=20190326040738" style="width:115px;height:115px;">
                           
                                      <mat-card-actions>
                                              <button mat-icon-button >
                                                      <mat-icon>cloud_download</mat-icon>
                                                    </button>
                                        <button mat-button>DOWNLOAD</button>
                                      </mat-card-actions>
                                      
                                    </mat-card>

                                    &nbsp;&nbsp;

                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                                          <mat-card-header>
                                            
                                            <mat-card-title>Micro Projector Lift Draper</mat-card-title>
                                            <mat-card-subtitle>電器</mat-card-subtitle>
                                          </mat-card-header>
                                          <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/c5307def-e891-4f70-9ca2-f61b67a84a09/38373/default?ver=20191202195448" style="width:115px;height:115px;">
                               
                                          <mat-card-actions>
                                                  <button mat-icon-button >
                                                          <mat-icon>cloud_download</mat-icon>
                                                        </button>
                                            <button mat-button>DOWNLOAD</button>
                                          </mat-card-actions>
                                          
                                        </mat-card>

                                        &nbsp;

                                    <button mat-raised-button><mat-icon>keyboard_arrow_right</mat-icon></button></mat-grid-tile>
            
            <mat-grid-tile colspan='4'><h3>尚未評分</h3>
              &nbsp;&nbsp;
              <button mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon></button>
              &nbsp;
              <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                          <mat-card-header>
                            
                            <mat-card-title>RS-65 Window 1-Panel Fixed</mat-card-title>
                            <mat-card-subtitle>窗</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/09077bb4-9dc7-43eb-9aff-186d74e06730/281365/default?ver=20191014133221" style="width:115px;height:115px;">
               
                          <mat-card-actions>
                                  <button mat-icon-button >
                                          <mat-icon>cloud_download</mat-icon>
                                        </button>
                            <button mat-button>DOWNLOAD</button>
                          </mat-card-actions>
                          
                        </mat-card>

                        &nbsp;&nbsp;

                        <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                              <mat-card-header>
                                
                                <mat-card-title>Y-Pattern Strainer - LF60-1</mat-card-title>
                                <mat-card-subtitle>管線</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/c21af818-52ee-493a-937c-b1c9746451f4/281935/default?ver=20191125233528" style="width:115px;height:115px;">
                  
                              <mat-card-actions>
                                      <button mat-icon-button >
                                              <mat-icon>cloud_download</mat-icon>
                                            </button>
                                <button mat-button>DOWNLOAD</button>
                              </mat-card-actions>
                              
                            </mat-card>

                            &nbsp;&nbsp;

                            <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                                  <mat-card-header>
                                    
                                    <mat-card-title>Upward Hinged Basketball Goall</mat-card-title>
                                    <mat-card-subtitle>運動與娛樂</mat-card-subtitle>
                                  </mat-card-header>
                                  <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/8dc4826a-e8e2-4d6b-86d7-516c81fd7c94/278577/default?ver=20190926124040" style="width:115px;height:115px;">
                       
                                  <mat-card-actions>
                                          <button mat-icon-button >
                                                  <mat-icon>cloud_download</mat-icon>
                                                </button>
                                    <button mat-button>DOWNLOAD</button>
                                  </mat-card-actions>
                                  
                                </mat-card>

                                &nbsp;&nbsp;

                                <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                                      <mat-card-header>
                                        
                                        <mat-card-title>Exterior Door Character Lilly</mat-card-title>
                                        <mat-card-subtitle>門</mat-card-subtitle>
                                      </mat-card-header>
                                      <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/a5744344-50ea-4206-9191-749ec3348ede/293570/default?ver=20191129092022" style="width:115px;height:115px;">
                           
                                      <mat-card-actions>
                                              <button mat-icon-button >
                                                      <mat-icon>cloud_download</mat-icon>
                                                    </button>
                                        <button mat-button>DOWNLOAD</button>
                                      </mat-card-actions>
                                      
                                    </mat-card>

                                    &nbsp;&nbsp;

                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                    
                                          <mat-card-header>
                                            
                                            <mat-card-title>Double socket outlet PLUS flush</mat-card-title>
                                            <mat-card-subtitle>電子</mat-card-subtitle>
                                          </mat-card-header>
                                          <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/e6932124-ca3c-4cbd-9fd5-e35672601a30/272691/default?ver=20190916063341" style="width:115px;height:115px;">
                                
                                          <mat-card-actions>
                                                  <button mat-icon-button >
                                                          <mat-icon>cloud_download</mat-icon>
                                                        </button>
                                            <button mat-button>DOWNLOAD</button>
                                          </mat-card-actions>
                                          
                                        </mat-card>

                                        &nbsp;

                                    <button mat-raised-button><mat-icon>keyboard_arrow_right</mat-icon></button></mat-grid-tile>
            
          </mat-grid-list>
       

        
    </body>
</html>