<pre></pre>

<a mat-raised-button color="primary" style="width:180px;">Classification</a>
&nbsp;
<button mat-icon-button >
    <mat-icon>search</mat-icon>
  </button>
<mat-form-field value="1"  style="width:800px;" >
  <input matInput placeholder="輸入關鍵字搜尋" >
</mat-form-field>
       
<mat-grid-list cols="5" rowHeight="1600px">
    <mat-grid-tile colspan="1">

      <mat-nav-list style="width:200px;height:1600px;">

          <mat-accordion>
      <mat-expansion-panel hideToggle="true">
          <mat-expansion-panel-header>
             品牌
          </mat-expansion-panel-header>
          
          <a mat-list-item>
              廠商A
            </a>
            <a mat-list-item>
                廠商B
            </a>
            <a mat-list-item>
                廠商C
            </a>
            <a mat-list-item>
                廠商D
            </a>
            <a mat-list-item>
                廠商E
            </a>
            <a mat-list-item>
                廠商F
            </a>
            <a mat-list-item>
                廠商G
            </a>
            <a mat-list-item>
                廠商H
            </a>
            <a mat-list-item>
                廠商I
            </a>
            <a mat-list-item>
                廠商J
            </a>
          
        </mat-expansion-panel >
      
        <mat-expansion-panel hideToggle="true">
            
            <mat-expansion-panel-header>
               對象類型
            </mat-expansion-panel-header>
            
            <a mat-list-item>
                  門
              </a>
              <a mat-list-item>
                 窗戶
              </a>
              <a mat-list-item>
                管線
              </a>
              <a mat-list-item>
                  電子電器
              </a>
              <a mat-list-item>
                 機械
              </a>
              <a mat-list-item>
                  景觀
              </a>
              <a mat-list-item>
                  運動與娛樂
              </a>
              <a mat-list-item>
                  消防
              </a>
              <a mat-list-item>
                  照明
              </a>
              <a mat-list-item>
                  家具
              </a>
              <a mat-list-item>
                  階梯
              </a>
              <a mat-list-item>
                  建築材料
              </a>
              <a mat-list-item>
                  地板
              </a>
              <a mat-list-item>
                  天花板
              </a>
              <a mat-list-item>
                  廚房
              </a>
              <a mat-list-item>
                  衛生
              </a>
            
          </mat-expansion-panel >
          <mat-expansion-panel hideToggle="true">
              <mat-expansion-panel-header>
                 文件分類
              </mat-expansion-panel-header>
              
              <a mat-list-item>
                    REVIT
                </a>
                <a mat-list-item>
                    3DS
                </a>
                <a mat-list-item>
                    ArchiCAD
                </a>
                <a mat-list-item>
                    SKetchup
                </a>
                <a mat-list-item>
                    IFC
                </a>
              
            </mat-expansion-panel >

          </mat-accordion>
      </mat-nav-list>
    </mat-grid-tile>
      <mat-grid-tile colspan="4"> 

      
        <mat-card class="post-tile"  style="width:180px;" [tabindex]="index" >
                      
              <mat-card-header>
                
                <mat-card-title>
                    Glass door</mat-card-title>
                <mat-card-subtitle>Door</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="http://static.goujianwu.com/metadata/1229026101984832/thumbnails/512_0.png" width="350"height="200">
    <mat-card-content>
                <p>
                  This is a door.
                </p>
              </mat-card-content>
              <mat-card-actions>
                      <button mat-icon-button >
                              <mat-icon>cloud_download</mat-icon>
                            </button>
                <button mat-button>DOWNLOAD</button>
              </mat-card-actions>
              
            </mat-card>
       
                <mat-card class="post-tile"  style="width:180px;" [tabindex]="index" >
                              
                      <mat-card-header>
                        
                        <mat-card-title>
                            Glass door</mat-card-title>
                        <mat-card-subtitle>Door</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="http://static.goujianwu.com/metadata/1229026101984832/thumbnails/512_0.png" width="350"height="200">
            <mat-card-content>
                        <p>
                          This is a door.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                              <button mat-icon-button >
                                      <mat-icon>cloud_download</mat-icon>
                                    </button>
                        <button mat-button>DOWNLOAD</button>
                      </mat-card-actions>
                      
                    </mat-card>
                  

                   <mat-card class="post-tile"  style="width:180px;" [tabindex]="index" >
                              
                      <mat-card-header>
                        
                        <mat-card-title>Elevator</mat-card-title>
                        <mat-card-subtitle>Mechanical</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSy0YFnNjMr0UZ_FLsVlvY-p_-qT_Kl0iiiGtCkpA5Ezlt9UJfH" width="350"height="200">
                      <mat-card-content>
                        <p>
                          This is a elevator.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                              <button mat-icon-button >
                                      <mat-icon>cloud_download</mat-icon>
                                    </button>
                        <button mat-button>DOWNLOAD</button>
                      </mat-card-actions>
                      
                    </mat-card>     

                    

                <mat-card class="post-tile"  style="width:180px;" [tabindex]="index" >
                              
                      <mat-card-header>
                        
                        <mat-card-title>Fire hydrant</mat-card-title>
                        <mat-card-subtitle>
                            Fire facilities</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="http://bim.tabc.org.tw/storage/assets/images/59df4770edfca521af2a5726486f6f3b.png" width="350"height="200">
                      <mat-card-content>
                        <p>
                          This is a fire hydrant.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                              <button mat-icon-button >
                                      <mat-icon>cloud_download</mat-icon>
                                    </button>
                        <button mat-button>DOWNLOAD</button>
                      </mat-card-actions>
                      
                    </mat-card>
   
                  </mat-grid-tile>
                  </mat-grid-list>