<pre></pre>

<a mat-raised-button color="primary" style="width:180px;">Classification</a>
&nbsp; &nbsp; &nbsp;
<button mat-icon-button >
    <mat-icon>search</mat-icon>
  </button>
<mat-form-field value="1"  style="width:600px;" >
  <input matInput placeholder="輸入關鍵字搜尋" >
</mat-form-field>

      <mat-nav-list style="width:180px;">
          <mat-accordion>
      <mat-expansion-panel hideToggle="true">
          <mat-expansion-panel-header>
             品牌
          </mat-expansion-panel-header>
          
          <a mat-list-item>
              廠商A
            </a>
            <a mat-list-item>
                廠商B
            </a>
            <a mat-list-item>
                廠商C
            </a>
            <a mat-list-item>
                廠商D
            </a>
            <a mat-list-item>
                廠商E
            </a>
            <a mat-list-item>
                廠商F
            </a>
            <a mat-list-item>
                廠商G
            </a>
            <a mat-list-item>
                廠商H
            </a>
            <a mat-list-item>
                廠商I
            </a>
            <a mat-list-item>
                廠商J
            </a>
          
        </mat-expansion-panel >
      
        <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header>
               對象類型
            </mat-expansion-panel-header>
            
            <a mat-list-item>
                  門
              </a>
              <a mat-list-item>
                 窗戶
              </a>
              <a mat-list-item>
                管線
              </a>
              <a mat-list-item>
                  電子電器
              </a>
              <a mat-list-item>
                 機械
              </a>
              <a mat-list-item>
                  景觀
              </a>
              <a mat-list-item>
                  運動與娛樂
              </a>
              <a mat-list-item>
                  消防
              </a>
              <a mat-list-item>
                  照明
              </a>
              <a mat-list-item>
                  家具
              </a>
              <a mat-list-item>
                  階梯
              </a>
              <a mat-list-item>
                  建築材料
              </a>
              <a mat-list-item>
                  地板
              </a>
              <a mat-list-item>
                  天花板
              </a>
              <a mat-list-item>
                  廚房
              </a>
              <a mat-list-item>
                  衛生
              </a>
            
          </mat-expansion-panel >
          <mat-expansion-panel hideToggle="true">
              <mat-expansion-panel-header>
                 文件分類
              </mat-expansion-panel-header>
              
              <a mat-list-item>
                    REVIT
                </a>
                <a mat-list-item>
                    3DS
                </a>
                <a mat-list-item>
                    ArchiCAD
                </a>
                <a mat-list-item>
                    SKetchup
                </a>
                <a mat-list-item>
                    IFC
                </a>
                
               
              
            </mat-expansion-panel >
          </mat-accordion>
      </mat-nav-list>