<html>
    
    <head>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    </head>
    <body>
            <mat-grid-list cols="1" rowHeight="300px" style="width:1800px">
                    <mat-grid-tile rowspan='2'>
                        <div class="box">
                            <div class="container-1">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input type="search" id="search" placeholder="Search..." />
                            </div>
                          </div>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </mat-grid-tile>
                    <mat-grid-tile><h2>最新上傳</h2>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon></button>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                      <mat-card-header>
                                        
                                        <mat-card-title>元件名稱</mat-card-title>
                                        <mat-card-subtitle>元件分類</mat-card-subtitle>
                                      </mat-card-header>
                                      <img mat-card-image src="">圖片
                            <mat-card-content>
                                        <p>
                                          簡單描述
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions>
                                              <button mat-icon-button >
                                                      <mat-icon>cloud_download</mat-icon>
                                                    </button>
                                        <button mat-button>DOWNLOAD</button>
                                      </mat-card-actions>
                                      
                                    </mat-card>
          
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                          <mat-card-header>
                                            
                                            <mat-card-title>元件名稱</mat-card-title>
                                            <mat-card-subtitle>元件分類</mat-card-subtitle>
                                          </mat-card-header>
                                          <img mat-card-image src="">圖片
                                <mat-card-content>
                                            <p>
                                              簡單描述
                                            </p>
                                          </mat-card-content>
                                          <mat-card-actions>
                                                  <button mat-icon-button >
                                                          <mat-icon>cloud_download</mat-icon>
                                                        </button>
                                            <button mat-button>DOWNLOAD</button>
                                          </mat-card-actions>
                                          
                                        </mat-card>
          
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                        <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                              <mat-card-header>
                                                
                                                <mat-card-title>元件名稱</mat-card-title>
                                                <mat-card-subtitle>元件分類</mat-card-subtitle>
                                              </mat-card-header>
                                              <img mat-card-image src="">圖片
                                    <mat-card-content>
                                                <p>
                                                  簡單描述
                                                </p>
                                              </mat-card-content>
                                              <mat-card-actions>
                                                      <button mat-icon-button >
                                                              <mat-icon>cloud_download</mat-icon>
                                                            </button>
                                                <button mat-button>DOWNLOAD</button>
                                              </mat-card-actions>
                                              
                                            </mat-card>
          
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                            <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                  <mat-card-header>
                                                    
                                                    <mat-card-title>元件名稱</mat-card-title>
                                                    <mat-card-subtitle>元件分類</mat-card-subtitle>
                                                  </mat-card-header>
                                                  <img mat-card-image src="">圖片
                                        <mat-card-content>
                                                    <p>
                                                      簡單描述
                                                    </p>
                                                  </mat-card-content>
                                                  <mat-card-actions>
                                                          <button mat-icon-button >
                                                                  <mat-icon>cloud_download</mat-icon>
                                                                </button>
                                                    <button mat-button>DOWNLOAD</button>
                                                  </mat-card-actions>
                                                  
                                                </mat-card>
          
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                                <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                      <mat-card-header>
                                                        
                                                        <mat-card-title>元件名稱</mat-card-title>
                                                        <mat-card-subtitle>元件分類</mat-card-subtitle>
                                                      </mat-card-header>
                                                      <img mat-card-image src="">圖片
                                            <mat-card-content>
                                                        <p>
                                                          簡單描述
                                                        </p>
                                                      </mat-card-content>
                                                      <mat-card-actions>
                                                              <button mat-icon-button >
                                                                      <mat-icon>cloud_download</mat-icon>
                                                                    </button>
                                                        <button mat-button>DOWNLOAD</button>
                                                      </mat-card-actions>
                                                      
                                                    </mat-card>
          
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                            <mat-card-header>
                                                              
                                                              <mat-card-title>元件名稱</mat-card-title>
                                                              <mat-card-subtitle>元件分類</mat-card-subtitle>
                                                            </mat-card-header>
                                                            <img mat-card-image src="">圖片
                                                  <mat-card-content>
                                                              <p>
                                                                簡單描述
                                                              </p>
                                                            </mat-card-content>
                                                            <mat-card-actions>
                                                                    <button mat-icon-button >
                                                                            <mat-icon>cloud_download</mat-icon>
                                                                          </button>
                                                              <button mat-button>DOWNLOAD</button>
                                                            </mat-card-actions>
                                                            
                                                          </mat-card>
                                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button mat-raised-button><mat-icon>keyboard_arrow_right</mat-icon></button></mat-grid-tile>
                    <mat-grid-tile><h2>最多下載</h2>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon></button>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                      <mat-card-header>
                                        
                                        <mat-card-title>元件名稱</mat-card-title>
                                        <mat-card-subtitle>元件分類</mat-card-subtitle>
                                      </mat-card-header>
                                      <img mat-card-image src="">圖片
                            <mat-card-content>
                                        <p>
                                          簡單描述
                                        </p>
                                      </mat-card-content>
                                      <mat-card-actions>
                                              <button mat-icon-button >
                                                      <mat-icon>cloud_download</mat-icon>
                                                    </button>
                                        <button mat-button>DOWNLOAD</button>
                                      </mat-card-actions>
                                      
                                    </mat-card>
          
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                          <mat-card-header>
                                            
                                            <mat-card-title>元件名稱</mat-card-title>
                                            <mat-card-subtitle>元件分類</mat-card-subtitle>
                                          </mat-card-header>
                                          <img mat-card-image src="">圖片
                                <mat-card-content>
                                            <p>
                                              簡單描述
                                            </p>
                                          </mat-card-content>
                                          <mat-card-actions>
                                                  <button mat-icon-button >
                                                          <mat-icon>cloud_download</mat-icon>
                                                        </button>
                                            <button mat-button>DOWNLOAD</button>
                                          </mat-card-actions>
                                          
                                        </mat-card>
          
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                        <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                              <mat-card-header>
                                                
                                                <mat-card-title>元件名稱</mat-card-title>
                                                <mat-card-subtitle>元件分類</mat-card-subtitle>
                                              </mat-card-header>
                                              <img mat-card-image src="">圖片
                                    <mat-card-content>
                                                <p>
                                                  簡單描述
                                                </p>
                                              </mat-card-content>
                                              <mat-card-actions>
                                                      <button mat-icon-button >
                                                              <mat-icon>cloud_download</mat-icon>
                                                            </button>
                                                <button mat-button>DOWNLOAD</button>
                                              </mat-card-actions>
                                              
                                            </mat-card>
          
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                            <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                  <mat-card-header>
                                                    
                                                    <mat-card-title>元件名稱</mat-card-title>
                                                    <mat-card-subtitle>元件分類</mat-card-subtitle>
                                                  </mat-card-header>
                                                  <img mat-card-image src="">圖片
                                        <mat-card-content>
                                                    <p>
                                                      簡單描述
                                                    </p>
                                                  </mat-card-content>
                                                  <mat-card-actions>
                                                          <button mat-icon-button >
                                                                  <mat-icon>cloud_download</mat-icon>
                                                                </button>
                                                    <button mat-button>DOWNLOAD</button>
                                                  </mat-card-actions>
                                                  
                                                </mat-card>
          
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                                <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                      <mat-card-header>
                                                        
                                                        <mat-card-title>元件名稱</mat-card-title>
                                                        <mat-card-subtitle>元件分類</mat-card-subtitle>
                                                      </mat-card-header>
                                                      <img mat-card-image src="">圖片
                                            <mat-card-content>
                                                        <p>
                                                          簡單描述
                                                        </p>
                                                      </mat-card-content>
                                                      <mat-card-actions>
                                                              <button mat-icon-button >
                                                                      <mat-icon>cloud_download</mat-icon>
                                                                    </button>
                                                        <button mat-button>DOWNLOAD</button>
                                                      </mat-card-actions>
                                                      
                                                    </mat-card>
          
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                            <mat-card-header>
                                                              
                                                              <mat-card-title>元件名稱</mat-card-title>
                                                              <mat-card-subtitle>元件分類</mat-card-subtitle>
                                                            </mat-card-header>
                                                            <img mat-card-image src="">圖片
                                                  <mat-card-content>
                                                              <p>
                                                                簡單描述
                                                              </p>
                                                            </mat-card-content>
                                                            <mat-card-actions>
                                                                    <button mat-icon-button >
                                                                            <mat-icon>cloud_download</mat-icon>
                                                                          </button>
                                                              <button mat-button>DOWNLOAD</button>
                                                            </mat-card-actions>
                                                            
                                                          </mat-card>
                                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button mat-raised-button><mat-icon>keyboard_arrow_right</mat-icon></button></mat-grid-tile>
                    
                  </mat-grid-list>
        
    </body>
</html>

