<html>
    
    <head>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    </head>
    <body>
            <mat-grid-list cols="1" rowHeight="300px" style="width:1800px">
                    <mat-grid-tile rowspan='2' >
                        <div class="box">
                            <div class="container-1" >
                                <span class="icon"><i class="fa fa-search" ></i></span>
                                <input style="width:700px;height:50px;" type="search" id="search" placeholder="Search..." />
                            </div>
                          </div>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </mat-grid-tile>
                    <mat-grid-tile><h2>最新上傳</h2>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon></button>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                      <mat-card-header>
                                        
                                        <mat-card-title>Composite Door – Alnwick</mat-card-title>
                                        <mat-card-subtitle>門</mat-card-subtitle>
                                      </mat-card-header>
                                      <img mat-card-image src="https://assets.bimstore.co/assets/__/products/bowater/composite-door-alnwick/alnwick-iso1.jpg?version=1573720444&crop=3349%2C2696%2C826%2C0&fit=crop&w=585&h=471" style="width:115px;height:115px;">
                           
                                      <mat-card-actions>
                                              <button mat-icon-button >
                                                      <mat-icon>cloud_download</mat-icon>
                                                    </button>
                                        <button mat-button routerLink="/manufacturer" routerLinkActive="active">DOWNLOAD</button>
                                      </mat-card-actions>
                                      
                                    </mat-card>
          
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                          <mat-card-header>
                                            
                                            <mat-card-title>Microwave Oven GT68H</mat-card-title>
                                            <mat-card-subtitle>電器</mat-card-subtitle>
                                          </mat-card-header>
                                          <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/1c754101-f470-4e9a-8f49-52c6ec086b68/228258/default?ver=20190325162352" style="width:115px;height:115px;">
                                
                                          <mat-card-actions>
                                                  <button mat-icon-button >
                                                          <mat-icon>cloud_download</mat-icon>
                                                        </button>
                                            <button mat-button>DOWNLOAD</button>
                                          </mat-card-actions>
                                          
                                        </mat-card>
          
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                        <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                              <mat-card-header>
                                                
                                                <mat-card-title>Refrigerator BB53 - Panasonic</mat-card-title>
                                                <mat-card-subtitle>電器</mat-card-subtitle>
                                              </mat-card-header>
                                              <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/4a37bb71-b1e3-49c2-aae8-2d6c1f8d8276/234208/default?ver=20190426114755" style="width:115px;height:115px;">
                                    
                                              <mat-card-actions>
                                                      <button mat-icon-button >
                                                              <mat-icon>cloud_download</mat-icon>
                                                            </button>
                                                <button mat-button>DOWNLOAD</button>
                                              </mat-card-actions>
                                              
                                            </mat-card>
          
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                            <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                  <mat-card-header>
                                                    
                                                    <mat-card-title>3D printed circular fixed  window</mat-card-title>
                                                    <mat-card-subtitle>窗</mat-card-subtitle>
                                                  </mat-card-header>
                                                  <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/7a06de55-2514-461c-8f72-a8009a224fba/279474/default?ver=20191007065352" style="width:115px;height:115px;">
                                       
                                                  <mat-card-actions>
                                                          <button mat-icon-button >
                                                                  <mat-icon>cloud_download</mat-icon>
                                                                </button>
                                                    <button mat-button>DOWNLOAD</button>
                                                  </mat-card-actions>
                                                  
                                                </mat-card>
          
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                                <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                      <mat-card-header>
                                                        
                                                        <mat-card-title>RECEPTION DESK FORO</mat-card-title>
                                                        <mat-card-subtitle>家具</mat-card-subtitle>
                                                      </mat-card-header>
                                                      <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/00ce6531-38da-48db-a111-64e373d40005/206359/default?ver=20181220081232" style="width:115px;height:115px;">
                                           
                                                      <mat-card-actions>
                                                              <button mat-icon-button >
                                                                      <mat-icon>cloud_download</mat-icon>
                                                                    </button>
                                                        <button mat-button>DOWNLOAD</button>
                                                      </mat-card-actions>
                                                      
                                                    </mat-card>
          
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                            <mat-card-header>
                                                              
                                                              <mat-card-title>Pop Back panel 1200X1050</mat-card-title>
                                                              <mat-card-subtitle>家具</mat-card-subtitle>
                                                            </mat-card-header>
                                                            <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/9aec36a5-8dda-4e28-8037-f7fdedc3817b/286675/default?ver=20191104131414" style="width:115px;height:115px;">
                                                 
                                                            <mat-card-actions>
                                                                    <button mat-icon-button >
                                                                            <mat-icon>cloud_download</mat-icon>
                                                                          </button>
                                                              <button mat-button>DOWNLOAD</button>
                                                            </mat-card-actions>
                                                            
                                                          </mat-card>
                                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button mat-raised-button><mat-icon>keyboard_arrow_right</mat-icon></button></mat-grid-tile>
                    <mat-grid-tile><h2>最多下載</h2>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon></button>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                      <mat-card-header>
                                        
                                        <mat-card-title>Bor Outward opening Lejonet</mat-card-title>
                                        <mat-card-subtitle>門</mat-card-subtitle>
                                      </mat-card-header>
                                      <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/3b96bbb0-4446-40bd-91d9-e3d64faa5cb3/286469/default?ver=20191104073236" style="width:115px;height:115px;">
                            
                                      <mat-card-actions>
                                              <button mat-icon-button >
                                                      <mat-icon>cloud_download</mat-icon>
                                                    </button>
                                        <button mat-button>DOWNLOAD</button>
                                      </mat-card-actions>
                                      
                                    </mat-card>
          
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                          <mat-card-header>
                                            
                                            <mat-card-title>Exterior Door Balcony Single</mat-card-title>
                                            <mat-card-subtitle>門</mat-card-subtitle>
                                          </mat-card-header>
                                          <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/b5a1f722-3ffb-47c5-adbe-59e195af5515/279991/default?ver=20191009061028" style="width:115px;height:115px;">
                               
                                          <mat-card-actions>
                                                  <button mat-icon-button >
                                                          <mat-icon>cloud_download</mat-icon>
                                                        </button>
                                            <button mat-button>DOWNLOAD</button>
                                          </mat-card-actions>
                                          
                                        </mat-card>
          
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                        <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                              <mat-card-header>
                                                
                                                <mat-card-title>Domal TOP TB55 minimale Windows</mat-card-title>
                                                <mat-card-subtitle>窗</mat-card-subtitle>
                                              </mat-card-header>
                                              <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/c35d2d9a-1d08-4298-ab24-f59cd56997c9/277056/default?ver=20190920080020" style="width:115px;height:115px;">
                                   
                                              <mat-card-actions>
                                                      <button mat-icon-button >
                                                              <mat-icon>cloud_download</mat-icon>
                                                            </button>
                                                <button mat-button>DOWNLOAD</button>
                                              </mat-card-actions>
                                              
                                            </mat-card>
          
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                            <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                  <mat-card-header>
                                                    
                                                    <mat-card-title>Ball Valve - Ames Fire & Waterworks</mat-card-title>
                                                    <mat-card-subtitle>管線</mat-card-subtitle>
                                                  </mat-card-header>
                                                  <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/8c8d77bf-ab3e-49a7-8f58-686ed1a7dcdd/281928/default?ver=20191125233527" style="width:115px;height:115px;">
                                       
                                                  <mat-card-actions>
                                                          <button mat-icon-button >
                                                                  <mat-icon>cloud_download</mat-icon>
                                                                </button>
                                                    <button mat-button>DOWNLOAD</button>
                                                  </mat-card-actions>
                                                  
                                                </mat-card>
          
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                                                <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                      <mat-card-header>
                                                        
                                                        <mat-card-title>Double Check Valve Assemblies</mat-card-title>
                                                        <mat-card-subtitle>管線</mat-card-subtitle>
                                                      </mat-card-header>
                                                      <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/0c6ffd62-347b-47a9-9355-ee97be94cfff/281918/default?ver=20191125233526" style="width:115px;height:115px;">
                                            
                                                      <mat-card-actions>
                                                              <button mat-icon-button >
                                                                      <mat-icon>cloud_download</mat-icon>
                                                                    </button>
                                                        <button mat-button>DOWNLOAD</button>
                                                      </mat-card-actions>
                                                      
                                                    </mat-card>
          
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                    <mat-card class="post-tile"  style="width:200px;height:250px;" [tabindex]="index" >
                                
                                                            <mat-card-header>
                                                              
                                                              <mat-card-title>Repose 500 - Brizley</mat-card-title>
                                                              <mat-card-subtitle>家具</mat-card-subtitle>
                                                            </mat-card-header>
                                                            <img mat-card-image src="https://www.bimobject.com/en/content/showproductimage/b5e6ea4e-0016-413a-9234-33884809fc6f/286172/default?ver=20191031095116" style="width:115px;height:115px;">
                                                 
                                                            <mat-card-actions>
                                                                    <button mat-icon-button >
                                                                            <mat-icon>cloud_download</mat-icon>
                                                                          </button>
                                                              <button mat-button>DOWNLOAD</button>
                                                            </mat-card-actions>
                                                            
                                                          </mat-card>
                                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button mat-raised-button><mat-icon>keyboard_arrow_right</mat-icon></button></mat-grid-tile>
                    
                  </mat-grid-list>
        
    </body>
</html>

