
&nbsp;&nbsp;&nbsp;
<pre></pre>

<mat-grid-list style="width:1400px;" cols="6" rowHeight="600px">
    <mat-grid-tile colspan="1" rowspan="1">


    <mat-nav-list style="width:200px;height:600px;">



<pre></pre>

<button mat-icon-button >
  <mat-icon>perm_identity</mat-icon>
</button>
<button mat-button color="primary" (click)="ToCheckAccount()">客戶資料</button>

<pre></pre>

<button mat-icon-button >
  <mat-icon>list_alt</mat-icon>
</button>
<button mat-button color="primary" (click)="ToCheckAccount()">元件</button>

<pre></pre>

<button mat-icon-button >
  <mat-icon>settings</mat-icon>
</button>
<button mat-button color="primary" (click)="ToCheckAccount()">偏好設定</button>

<pre></pre>


</mat-nav-list>

</mat-grid-tile>

  <mat-grid-tile colspan="5" rowspam="2"> 

      <mat-card class="post-tile"   [tabindex]="index" >
                      
          <mat-card-header>
              <mat-card-title >
                  &nbsp;
                </mat-card-title>
            <mat-card-title  style="font-family:標楷體;font-size:25px;" >
                測試有限公司
                <br>
                TESTING TESTING 123 CO., LTD</mat-card-title>
                <mat-card-subtitle>
                    &nbsp;
                </mat-card-subtitle>
                <mat-card-subtitle>
                    &nbsp;
                </mat-card-subtitle>
                <mat-card-subtitle>
                    &nbsp;
                </mat-card-subtitle>
              </mat-card-header>

              <img hspace="15"  layout="row" align="right" mat-card-image src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" 
          style="width:200px;height:200px;" >

            <mat-card-subtitle  style="font-family:微軟正黑體;font-size:20px;">
                &nbsp; &nbsp; &nbsp;
              姓名  :  ABC
          </mat-card-subtitle>
          
          <mat-card-subtitle>
              &nbsp;
          </mat-card-subtitle>
          
        
         
        <mat-card-subtitle style="font-family:微軟正黑體;font-size:20px;">
            &nbsp; &nbsp; &nbsp;
             電話 : 0900-000-000
        </mat-card-subtitle>
        
        <mat-card-subtitle>
            &nbsp;
        </mat-card-subtitle>
        <mat-card-subtitle style="font-family:微軟正黑體;font-size:20px;">
            &nbsp; &nbsp; &nbsp;
             傳真 : 0800-000-000
        </mat-card-subtitle>
        <mat-card-subtitle>
            &nbsp;
        </mat-card-subtitle>
        <mat-card-subtitle style="font-family:微軟正黑體;font-size:20px;">
            &nbsp; &nbsp; &nbsp;
             地址 : XX市XX區XX路XX號
        </mat-card-subtitle>
          
  
          <mat-card-actions>
                  
          </mat-card-actions>
          
        </mat-card>

      </mat-grid-tile>
    </mat-grid-list>






    <mat-grid-list style="width:1400px;" cols="6" rowHeight="600px">
      <mat-grid-tile colspan="1" rowspan="1">
 
  </mat-grid-tile>
  
    <mat-grid-tile colspan="5" rowspam="2"> 
  
      <mat-card class="post-tile" style="width:220px;"  [tabindex]="index" >
                                        
        <mat-card-header>
          
          <mat-card-title>
              Glass door</mat-card-title>
          <mat-card-subtitle>Door</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://static.goujianwu.com/metadata/1229026101984832/thumbnails/512_0.png" width="350"height="200">
<mat-card-content>
          <p>
            This is a door.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>
            下載量
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            2350
          </p>
          
          <p>
            &nbsp;
          </p>

          <p>
            瀏覽量
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            3350
          </p>

          <p>
            &nbsp;
          </p>

          <p>
            上傳日期
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            2018/12/31
          </p>
        </mat-card-actions>
        
      </mat-card>
 
          <mat-card class="post-tile"  style="width:220px;" [tabindex]="index" >
                        
                <mat-card-header>
                  
                  <mat-card-title>
                      Glass door</mat-card-title>
                  <mat-card-subtitle>Door</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="http://static.goujianwu.com/metadata/1229026101984832/thumbnails/512_0.png" width="350"height="200">
      <mat-card-content>
                  <p>
                    This is a door.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>
                    下載量
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    1002
                  </p>
                  
                  <p>
                    &nbsp;
                  </p>

                  <p>
                    瀏覽量
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    1870
                  </p>

                  <p>
                    &nbsp;
                  </p>

                  <p>
                    上傳日期
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    2018/12/31
                  </p>
                </mat-card-actions>
                
              </mat-card>
            

             <mat-card class="post-tile"  style="width:220px;" [tabindex]="index" >
                        
                <mat-card-header>
                  
                  <mat-card-title>Elevator</mat-card-title>
                  <mat-card-subtitle>Mechanical</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSy0YFnNjMr0UZ_FLsVlvY-p_-qT_Kl0iiiGtCkpA5Ezlt9UJfH" width="350"height="200">
                <mat-card-content>
                  <p>
                    This is a elevator.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>
                    下載量
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    1001
                  </p>
                  
                  <p>
                    &nbsp;
                  </p>

                  <p>
                    瀏覽量
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    1987
                  </p>

                  <p>
                    &nbsp;
                  </p>

                  <p>
                    上傳日期
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    2018/12/31
                  </p>
                </mat-card-actions>
                
              </mat-card>     

              

          <mat-card class="post-tile"  style="width:220px;" [tabindex]="index" >
                        
                <mat-card-header>
                  
                  <mat-card-title>Fire hydrant</mat-card-title>
                  <mat-card-subtitle>
                      Fire facilities</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="http://bim.tabc.org.tw/storage/assets/images/59df4770edfca521af2a5726486f6f3b.png" width="350"height="200">
                <mat-card-content>
                  <p>
                    This is a fire hydrant.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>
                    下載量
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    999
                  </p>
                  
                  <p>
                    &nbsp;
                  </p>

                  <p>
                    瀏覽量
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    1999
                  </p>

                  <p>
                    &nbsp;
                  </p>

                  <p>
                    上傳日期
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    2018/12/31
                  </p>
                </mat-card-actions>
                
              </mat-card>
          
          
        </mat-grid-tile>
      </mat-grid-list>


    <mat-grid-list style="width:1400px;" cols="6" rowHeight="600px">
      
      <mat-grid-tile colspan="1" rowspan="1">


      
    
    </mat-grid-tile>
 <mat-grid-tile colspan="5" rowspam="2"> 

    <mat-card class="post-tile"   [tabindex]="index" >
                      
        <mat-card-header>
            <mat-card-title >
                &nbsp;
              </mat-card-title>
          <mat-card-title  style="font-family:標楷體;font-size:25px;" >
              &nbsp;
              <br>
              &nbsp;</mat-card-title>
              <mat-card-subtitle>
                  &nbsp;
              </mat-card-subtitle>
              <mat-card-subtitle>
                  &nbsp;
              </mat-card-subtitle>
              <mat-card-subtitle>
                  &nbsp;
              </mat-card-subtitle>
            </mat-card-header>

  

          <mat-card-subtitle  style="font-family:微軟正黑體;font-size:20px;">
              &nbsp; &nbsp; &nbsp;
            
        </mat-card-subtitle>
        
    
        
      
       
      <mat-card-subtitle align="center"  style="font-family:標楷體;font-size:80px;">
          
           開發中，敬請期待
      </mat-card-subtitle>
      
      <mat-card-subtitle>
          &nbsp;
      </mat-card-subtitle>
      <mat-card-subtitle style="font-family:微軟正黑體;font-size:20px;">
          &nbsp; &nbsp; &nbsp;
           
      </mat-card-subtitle>
      <mat-card-subtitle>
          &nbsp;
      </mat-card-subtitle>
      <mat-card-subtitle style="font-family:微軟正黑體;font-size:20px;">
          &nbsp; &nbsp; &nbsp;
           
      </mat-card-subtitle>
        
        
      
        <mat-card-actions>
                
        </mat-card-actions>
        
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
      
