
<button mat-icon-button >
  <mat-icon>search</mat-icon>
</button>

<mat-form-field value="1"  style="width:200px;" >
<input matInput placeholder="輸入關鍵字搜尋" >
</mat-form-field>

<pre></pre>

<mat-grid-list style="width:1600px;" cols="6" rowHeight="600px">
    <mat-grid-tile colspan="1">


    <mat-nav-list style="width:200px;height:600px;">


<button mat-icon-button >
  <mat-icon>house</mat-icon>
</button>
<button mat-button color="primary" (click)="ToCheckAccount()">首頁</button>
<pre></pre>

<button mat-icon-button >
  <mat-icon>account_circle</mat-icon>
</button>
<button mat-button color="primary" (click)="ToCheckAccount()">管理介面操作手冊</button>





    <mat-accordion>
<mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
       主機服務
    </mat-expansion-panel-header>
    
    <a mat-list-item>
          <mat-icon>perm_identity
          </mat-icon>
        客戶資料
      </a>
      <a mat-list-item>
          <mat-icon>location_city
          </mat-icon>
        代理商
      </a>
      <a mat-list-item>
          <mat-icon>public
          </mat-icon>
        域名
      </a>
      <a mat-list-item>
          <mat-icon>shop
          </mat-icon>
        訂閱
      </a>
      <a mat-list-item>
          <mat-icon>list_alt
          </mat-icon>
        服務方案
      </a>
    
  </mat-expansion-panel >

  <mat-expansion-panel hideToggle="true">
      <mat-expansion-panel-header>
         伺服器管理
      </mat-expansion-panel-header>
      
      <a mat-list-item>
            <mat-icon>build
            </mat-icon>
          工具與設定
        </a>
        <a mat-list-item>
            <mat-icon>dashboard
            </mat-icon>
          擴展
        </a>
        <a mat-list-item>
            <mat-icon>mail
            </mat-icon>
          信箱
        </a>
        <a mat-list-item>
            <mat-icon>remove_red_eye
            </mat-icon>
          流量紀錄
        </a>
        <a mat-list-item>
            <mat-icon>web
            </mat-icon>
          瀏覽紀錄分析
        </a>
      
    </mat-expansion-panel >
    <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
           個人資料
        </mat-expansion-panel-header>
        
        <a mat-list-item>
              <mat-icon>settings
              </mat-icon>
            偏好設定
          </a>
          <a mat-list-item>
              <mat-icon>history
              </mat-icon>
            登入記錄查詢
          </a>
         
        
      </mat-expansion-panel >

    </mat-accordion>

</mat-nav-list>

</mat-grid-tile>

  <mat-grid-tile colspan="4"> 

      <mat-card class="post-tile"  style="width:800px;height:500px;" [tabindex]="index" >
                      
          <mat-card-header>
            
            <mat-card-title>
                Glass door</mat-card-title>
            <mat-card-subtitle>Door</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="http://static.goujianwu.com/metadata/1229026101984832/thumbnails/512_0.png" width="350"height="200">
<mat-card-content>
            <p>
              This is a door.
            </p>
          </mat-card-content>
          <mat-card-actions>
                  <button mat-icon-button >
                          <mat-icon>cloud_download</mat-icon>
                        </button>
            <button mat-button>DOWNLOAD</button>
          </mat-card-actions>
          
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>