<mat-toolbar color="primary" class="app-header">
  <button mat-button class="toolbar-btn" routerLink="/" routerLinkActive="active"><h4>BIM Component</h4></button>
  <button mat-button class="toolbar-btn" routerLink="/search" routerLinkActive="active"><h4>瀏覽</h4></button>
  <button mat-button class="toolbar-btn" ><h4>製造商</h4></button>
  <button mat-button class="toolbar-btn" routerLink="/user" routerLinkActive="active"><h4>聯繫我們</h4></button>
  <button mat-button class="toolbar-btn" ><h4>贊助我們</h4></button>
  <span class="toolbar-seprator"></span>

  <div *ngIf="login; else loginButton">
    <span style="line-height: 64px; text-align: center;">Hi, {{userName}}</span>   
    <button mat-icon-button  [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/{{userType}}" routerLinkActive="active">
        用戶資訊
      </button>
      <button mat-menu-item (click)="LogOut()">
        帳號登出
      </button>
    </mat-menu>
  </div>
  <ng-template #loginButton>
      <button mat-button class="toolbar-btn" (click)="openLogIn()"><h4>登入</h4></button>
  </ng-template>
</mat-toolbar>